.button {
  background-color: transparent !important;
  margin: 5px;
}

.clean {
  border: 2px solid rgb(209,23,72) !important;
}

.App {
  text-align: center;
}

.App_Dark {
  color: aliceblue;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App_Light {
  color:  #282c34;
  background-color:aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lamp-light {
  color: yellow
}

.lamp-dark {
  color: none
}

.button-light {
  color: #282c34 !important;
}

.button-dark {
  color: aliceblue !important;
}

.block {
  display: block;
  height: 100vh;
}

.sun {
  justify-content: flex-end;
  flex-direction: row;
}

.sun button {
  border: none !important;
}